@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<StudentProtal.Models.Entity.Student>

<h1>Student List</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Subscribed</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <th scope="row">@student.id</th>
                <td>@student.name</td>
                <td>@student.email</td>
                <td>@student.phone</td>
                <td>@student.Subscribe</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@student.id">Edit</a>
                    <form asp-controller="Students" asp-action="Delete" asp-route-id="@student.id" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

            </tr>
        }

    </tbody>
</table>
